In [31]:
#Author - Pedro Nader
#Deliverable 7 Python

#Importing Pandas
import pandas as pd

#Similar to what we did in C#. Create the loop that will flag when done.
done = False
#Loop that will keep running before we flag it as done
while done == False:
    #Use try except to avoid entering a string or decimal
    try:
        n = int(input('Input a whole number larger than 0: '))
        if n > 0 :
            done = True #Validate if true 
        else:
            print('Please Input a valid number. it has to be positive.') #Show error message if number is negative
    except:
        print('Do not enter a string or decimal') #message if user does not input a number or inputs a decimal

In [32]:
#Create all lists
even = []
odd = []
fibo = [0,1]

#Loop trhough all the numbers
for i in range(int(n)):
    #append even and odd numbers to the list
    even.append(i*2)
    odd.append(i*2+1)

    #when the loop reaches the index 2, it will start adding numbres to the fibonacci sequence
    if i > 1:
        fibo.append(fibo[i-1] + fibo[1-2])

#Making sure they have the same length
print(len(even) == len(odd) == len(fibo))

True

In [33]:
df = pd.DataFrame()
df['even'] = even
df['odd'] = odd
df['Fibo'] = fibo

df

    even  odd    Fibo
0      0    1       0
1      2    3       1
2      4    5       2
3      6    7       4
4      8    9       8
5     10   11      16
6     12   13      32
7     14   15      64
8     16   17     128
9     18   19     256
10    20   21     512
11    22   23    1024
12    24   25    2048
13    26   27    4096
14    28   29    8192
15    30   31   16384
16    32   33   32768
17    34   35   65536
18    36   37  131072